.pos .clientlist-screen .client-detail > .client-debt.positive{
    color: red;
}

.pos .clientlist-screen .client-detail > .client-debt.negative{
    color: green;
}

.screen .top-content .button.set-customer-pay-full-debt {
    right: 25%;
    font-size: 15px;
}

.pos .clientlist-screen .searchbox {
    left: 30%;
}

.pos .clientlist-screen .button.new-customer {
    left: 30%;
}
