.pos .clientlist-screen .client-detail > .client-debt.positive{
    color: red;
}

.pos .clientlist-screen .client-detail > .client-debt.negative{
    color: green;
}

.pos .pay-full-debt button {
    width: 150px;
    height: 60px;
    font-size: 18px;
    cursor: pointer;
    text-align:center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    left: 105%;
    bottom: 10px;
    position: absolute;
}
