/* Copyright 2015 Ivan Yelizariev <https://it-projects.info/team/yelizariev>
 * License MIT (https://opensource.org/licenses/MIT). */

.pos .order .orderline .ms_info {
    text-align: right;
    width: 100%;
    font-size: 80%;
}

.pos .order-button .order-sequence {
    position: relative;
}
.pos .order-button .ms_info {
    font-size: 60%;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    line-height: 0;
    bottom: -5px;
}
.pos .order-button.selected .ms_info {
    color: black;
    width: 75px;
    right: 0;
    left: -5px;
    bottom: -5px;
}
.pos .oe_status .oe_gray,
.pos .oe_icon.oe_gray {
    color: rgb(177, 179, 179);
}
