.popup.popup-selection.cashier  .selection.scrollable-y.touch-scrollable.cashier {
	display: table;
    width: 100%;
	height: calc(90% - 61px);
	padding-bottom: 0;
}

.popup.popup-selection.cashier  .selection-item {
	margin: 0 2px;
}
.pos .popup.popup-selection .employee .selection-item.selected,
.pos .popup.popup-selection.employee .title,
.pos .popup.popup-selection.employee .footer {
    background: #596fb2;
	color: white;
}
