.pos .client-debt.positive,
.pos .client-credit.negative {
    color: red;
}

.pos .client-debt.negative,
.pos .client-credit.positive {
    color: green;
}

#client_list_header_buttons {
    height: 64px;
    position: absolute; top: 0; right: 165px; left: 50%;
}

.screen .top-content .debt_notebook_button {
    float: left;
    font-size: 15px;
    margin-right: 0;
    position: static !important;
}

.pos .clientlist-screen .searchbox {
    left: 30%;
}

.pos .clientlist-screen .button.new-customer {
    left: 30%;
}

.pos .clientlist-screen .client-picture {
    margin-right: 26px;
}

.pos .clientlist-screen .client-detail > .label {
    width: 85px;
}

.label_nowrap {
    white-space: nowrap;
}

.client-detail-notice {
    clear: both;
    font-size: 16px;
    line-height: 24px;
}

.detail.disabled {
    color: #999;
    pointer-events: none;
}

#loading_history {
    font-size: 400%;
    text-align: center;
}

.pos_text_center {
    text-align: center;
}

#load_more {
    border: solid 1px rgb(209, 209, 209);
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 32px;
    margin: 12px 0;
    padding: 3px 13px;
    transition: all 150ms linear;
}
/* if pos_mobile was installed*/
.pos.mobile .clientlist-screen .top-content .debt_notebook_button {
    float: none;
}
.pos.mobile .clientlist-screen .top-content #client_list_header_buttons {
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    height: initial;
}
.pos.mobile .clientlist-screen .top-content #client_list_header_buttons span {
    margin-left: 0;
    margin-right: 0;
}

.notbold{
    font-weight:normal !important;
}

.screen-content .bottom-left-content,
 .bottom-left-content {
    height: 170px;
    width: 170px;
    margin: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-right: dashed 1px rgb(215,215,215);
}

.screen .bottom-left-content .button.autopay {
    width: 100%;
    height: 100%;
    line-height: 32px;
    font-size: 20px;
    text-align: center;
    border-radius: 3px;
    border: solid 1px rgb(209, 209, 209);
    cursor: pointer;
}

.bottom-left-content .alert{
    background-color: #FF6347;
    border-color: #bce8f1;
    pointer-events: none;
}

.bottom-left-content .validate{
    background: rgb(110,200,155);
    color: white;
    border: solid 1px rgb(110,200,155);
}

.hidden {
    display: none;
}
