/*ReasonCancellationPopupWidget*/
.popup-confirm-cancellation textarea {
    margin-top: 10px;
    resize: none;
}
.popup-confirm-cancellation li {
    width: 33%!important;
}
.popup-confirm-cancellation .cancelled-reason ul {
    height: 200px;
    overflow-x: auto;
    border-top: 1px solid #e3e1e1;
}
.popup-confirm-cancellation .cancelled-reason .reason-row{
    width: 100%;
    display: flex;
}
.popup-confirm-cancellation .cancelled-reason .reason-col{
    font-size: 14px;
    line-height: 18px;
    flex: 1;
    margin: 10px;
}
.popup-confirm-cancellation .cancelled-reason .reason-button{
    height: 100%;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    border: solid 1px rgba(60,60,60,0.1);
    background: rgba(0,0,0,0.05);
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 0;
}
.popup-confirm-cancellation .cancelled-reason .other-reason {
    font-style: italic;
    height: 30px;
}
.popup-confirm-cancellation .cancelled-reason .other {
    float: right;
}
.popup-confirm-cancellation .cancelled-reason .other-reason.hidden {
    display: none;
}
.popup-confirm-cancellation .cancelled-reason {
    display: table;
    width: 100%;
}
.popup-confirm-cancellation .footer .button {
    width: 150px !important;
    float: left !important;
    margin-left: 11px !important;
    margin-right: 0px !important;
    float: none !important;
}
.popup-confirm-cancellation {
    height: 380px !important;
}
.popup-confirm-cancellation  textarea:focus::-webkit-input-placeholder {color: transparent}
.popup-confirm-cancellation  textarea:focus::-moz-placeholder {color: transparent}
.popup-confirm-cancellation  textarea:focus:-moz-placeholder {color: transparent}
.popup-confirm-cancellation  textarea:focus:-ms-input-placeholder {color: transparent}

/*ReasonCancellationScreenWidget*/
.pos .reasonlist-screen .reason-list{
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}
.pos .reasonlist-screen .reason-list th,
.pos .reasonlist-screen .reason-list td {
    padding: 0px 8px;
}
.pos .reasonlist-screen .reason-list tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}
.pos .reasonlist-screen .reason-list thead > tr,
.pos .reasonlist-screen .reason-list tr:nth-child(even) {
    background: rgb(247,247,247);
}
.pos .reasonlist-screen .reason-list tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.pos .reasonlist-screen .reason-list tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.pos .reasonlist-screen .reason-list tr.lowlight:nth-child(even){
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}
.pos .cancelled-reason li .active {
    color: white;
    background: black;
    border: 1px solid black;
}
