.pos.mobile .screen, .swiper-container {
    width: 100%;
    height: 100%;
}
.pos.mobile .leftpane, .pos.mobile .rightpane {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    left: 0px;
    float: left;
    position: relative;
    height: 100%;
    width: 100%;
}
.pos.mobile .searchbox input {
    border-radius: initial;
}
.category-list-scroller .control-button {
    margin: 10px;
    padding: 5px;
}
.pos.mobile .numpad {
    float: left;
}
.pos.mobile .order {
    max-width: initial;
}
.pos.mobile .product-list {
    text-align: center;
}
.pos.mobile .categories {
    border-bottom: none;
    display: none;
}
.category-list-scroller .control-button {
    width: 200px;
}
.pos.mobile .category-list.simple {
    display: block;
    -webkit-flex-flow: initial;
    flex-flow: initial;
    border-bottom: none;
    background-color: white;
    text-align: center;
}
.pos.mobile .rightpane-header {
    background: #e2e2e2;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}
.pos.mobile .control-button:hover {
    background: #6EC89B;
}
.pos.mobile .control-button:active {
    background: #6EC89B;
}
.pos.mobile .pos-branding .username {
    float: left;
    margin-right: 0px;
    margin-left: 10px;
}
.pos.mobile .pos-branding {
    width: initial;
    position: relative;
}
.pos.mobile .pos-logo {
    float: left;
}
.pos.mobile .pos-rightheader {
    display: inline-block;
}
.pos.mobile .order-selector, .pos.mobile .oe_status, .pos.mobile .pos-rightheader .header-button , .pos.mobile .orders.touch-scrollable, .pos.mobile .order-button.square{
    display: inline-block;
    float: left;
}
.pos.mobile .pos-rightheader {
    display: table-cell;
    position: relative;
    left: 10px;
}
.pos.mobile .order-button.square {
    background: #e2e2e2;
    color: rgb(255, 255, 255);
    box-shadow: initial;
    height: 40px;
    border-radius: 3px;
    min-width: 40px;
    line-height: 40px;
    margin-top: 5px;
}

.pos.mobile .rightpane-header .slide-categories-button, .pos.mobile .rightpane-header .slide-numpad-button, .pos.mobile .rightpane-header .slide-order-button{
    position: relative;
    display: inline-block;
    text-align: left;
    float: left;
    line-height: 96px;
    font-size: 52px;
    cursor: pointer;
    margin: 0 10px;
    color: #808080;
}
.pos.mobile .rightpane-header .slide-numpad-button .fa-minus-square-o {
    display: none;
}
.pos.mobile .rightpane-header .slide-order-button{
    margin-left: 30px;
}
.pos.mobile .breadcrumbs {
    display: none;
}
.order-and-products {
    height: 88%;
}
/* Search slide common styles*/
.slide-search {
    height: 96px;
}
.pos.mobile .rightpane-header {
    height: 96px;
}
.pos.mobile .searchbox {
    float: left;
    position: relative;
}
.pos.mobile .searchbox input {
    width: 200px;
    border: 2px solid #cecbcb;
    padding: 20px 40px;
    padding-left: 76px;
    margin: 12px;
    background: inherit;
    border-radius: 40px;
    font-size: 26px;
}
.pos.mobile .search-clear {
    top: 20px;
    left: 20px;
}
.pos.mobile .search-clear {
    width: 60px;
    height: 60px;
    font-size: 52px;
    margin: 0 10px;
    color: #808080;
}
.under-search {
    height: 40%;
}
