.swipe {
    overflow: hidden;
    position: relative!important;
    height: 100%;
}
.swipe .leftpane, .swipe .rightpane {
    left: 0px;
    float: left;
    position: relative!important;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.pos .searchbox {
    float: left;
    position: relative;
}
.pos .search-clear {
    top: 10px;
    left: 10px;
}
.category-list-scroller .control-button {
    margin: 10px;
    padding: 5px;
}
.pos .order {
    max-width: initial;
}
