/*  ********* OrderMerge ********* */

.pos .order-merge-screen .order {
    background: white;
    padding: 15px;
    margin-left:16px;
    margin-right:16px;
    margin-top:16px;
    margin-bottom:16px;
    font-size:16px;
    border-radius: 3px;
    border: solid 1px rgb(220,220,220);
    text-align: left;
    max-width: 500px;
    -webkit-transform: translate3d(0,0,0);
}
.order-merge-screen .order.selected{
    background: rgb(110,200,155);
    color: white;
    -webkit-transition: background 250ms ease-in-out;
       -moz-transition: background 250ms ease-in-out;
            transition: background 250ms ease-in-out;
    cursor: default;
}
.pos .order-merge-screen .order .client {
    float: right;
}
.pos .order-merge-screen .mergemethods {
    margin: 16px;
}
.pos .order-merge-screen .mergemethods .button {
    background: #e2e2e2;
    line-height: 74px;
    font-size: 24px;
    border: solid 1px rgb(202, 202, 202);
    border-top-width: 0px;
    cursor: pointer;
    text-align: center;
}
.pos .order-merge-screen .mergemethods .button:first-child {
    border-top-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.pos .order-merge-screen .mergemethods .button:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.pos .order-merge-screen .mergemethods .button:active {
    background: black;
    border-color: black;
    color: white;
}
.pos .order-merge-screen .mergemethods .button.active {
    background: #6EC89B;
    color: white;
    border-color: #6EC89B;
}
.pos .order-merge-screen .button.change_table {
    right: 0px;
    margin-right: 16px;
}
.pos .order-merge-screen .order-sequence {
    text-align: center;
    color: white;
    background: black;
    display: inline-block;
    line-height: 24px;
    min-width: 24px;
    border-radius: 12px;
    margin-right: 4px;
    margin-left: -4px;
}
.pos .order-merge-screen h2 {
    color: #6EC89B;
}
.pos .order-merge-screen h2 img {
    width: 22px;
}
.pos .order-merge-screen h2 span {
    margin: 5px;
}
.pos .order-merge-screen .button {
    transition: all 150ms linear;
}
.pos .order-merge-screen .button.highlight {
    background: rgb(110,200,155);
    color: white;
    border: solid 1px rgb(110,200,155);
}
