.video_preview {
    position: absolute;
    height: 100%;
	width: 100%;
}
.transparent_sidebar{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
}
.popup.popup-qr_scan {
	height: 100% !important;
	width: 100% !important;
	overflow-y: hidden;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}
.qr-content {
    width: 100% !important;
}

.sidebar {
  background: #eceff1;
  min-width: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}


.preview-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.fa-qrcode:before {
  content: "\f029";
}
