.pos .product .lot-tag {
    position: absolute;
    bottom: 2px;
    right: 2px;
    vertical-align: top;
    color: white;
    line-height: 13px;
    background: #7f82ac;
    padding: 2px 5px;
    border-radius: 2px;
    font-weight: bold;
}

.pos .order .orderline .unpack-lot {
    font-size: 16px;
    height: 35px;
}
