.popup-discount .discount-program-content {
    position: absolute;
    top: 0;
    right: 0;
    border-left: solid 1px rgba(60, 60, 60, 0.1);
    height: 390px !important;
}
.popup-discount {
    width: 600px !important;
}
.popup-discount .title {
    width: 260px !important;
}
.popup-discount .popup-input {
    width: 240px !important;
    display: block !important;
    margin-left: 30px !important;
}
.popup-discount .popup-numpad {
    margin-left: 25px !important;
    margin-top: 20px !important;
    width: 254px !important;
}
.popup-discount .discount-program-list .button {
    float: none !important;
    width: 100% !important;
    height: 48px !important;
    line-height: 48px !important;
}
.popup-discount .discount-program-list {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

/*Discount list widget*/

.pos .discountlist-screen .discount-list {
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}
.pos .discountlist-screen .discount-list th,
.pos .discountlist-screen .discount-list td {
    padding: 0px 8px;
}
.pos .discountlist-screen .discount-list tr {
    transition: all 150ms linear;
    background: rgb(230, 230, 230);
}
.pos .discountlist-screen .discount-list thead > tr,
.pos .discountlist-screen .discount-list tr:nth-child(even) {
    background: rgb(247, 247, 247);
}
.pos .discountlist-screen .discount-list tr.highlight {
    transition: all 150ms linear;
    background: rgb(110, 200, 155) !important;
    color: white;
}
.pos .discountlist-screen .discount-list tr.lowlight {
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.pos .discountlist-screen .discount-list tr.lowlight:nth-child(even) {
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}
.pos .discountlist-screen .discount-details {
    padding: 16px;
    border-bottom: solid 5px rgb(110, 200, 155);
}
.pos .discountlist-screen .discount-picture {
    height: 64px;
    width: 64px;
    border-radius: 32px;
    overflow: hidden;
    text-align: center;
    float: left;
    margin-right: 16px;
    background: white;
    position: relative;
}
.pos .discountlist-screen .discount-picture > img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    right: -9999px;
    left: -9999px;
    max-height: 64px;
    margin: auto;
}
.pos .discountlist-screen .discount-picture > .fa {
    line-height: 64px;
    font-size: 32px;
}
.pos .discountlist-screen .discount-picture .image-uploader {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
.pos .discountlist-screen .discount-name {
    font-size: 32px;
    line-height: 64px;
    margin-bottom: 16px;
}
.pos .discountlist-screen .edit-buttons {
    position: absolute;
    right: 16px;
    top: 10px;
}
.pos .discountlist-screen .edit-buttons .button {
    display: inline-block;
    margin-left: 16px;
    color: rgb(128, 128, 128);
    cursor: pointer;
    font-size: 36px;
}
.pos .discountlist-screen .discount-details-box {
    position: relative;
    font-size: 16px;
}
.pos .discountlist-screen .discount-details-left {
    width: 50%;
    float: left;
}
.pos .discountlist-screen .discount-details-right {
    width: 50%;
    float: right;
}
.pos .discountlist-screen .discount-detail {
    line-height: 24px;
}
.pos .discountlist-screen .discount-detail > .label {
    font-weight: bold;
    display: inline-block;
    width: 75px;
    text-align: right;
    margin-right: 8px;
}
.pos .discountlist-screen .discount-details input,
.pos .discountlist-screen .discount-details select {
    padding: 4px;
    border-radius: 3px;
    border: solid 1px #cecbcb;
    margin-bottom: 4px;
    background: white;
    font-family: "Lato", "Lucida Grande", Helvetica, Verdana, Arial;
    color: #555555;
    width: 340px;
    font-size: 14px;
    box-sizing: border-box;
}
.pos .discountlist-screen .discount-details input.discount-name {
    font-size: 24px;
    line-height: 24px;
    margin: 18px 6px;
    width: 340px;
}
.pos .discountlist-screen .discount-detail > .empty {
    opacity: 0.3;
}
.pos .discountlist-screen .searchbox {
    right: auto;
    margin-left: -90px;
    margin-top: 8px;
    left: 50%;
}
.pos .discountlist-screen .searchbox input {
    width: 120px;
}
.pos .order .summary .line .discount {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}
.pos .discount_program_td {
    padding: 0px;
    line-height: 25px;
}
/* New Styles for POS Product Category Discount if pos_mobile was installed*/
.pos.mobile .modal-dialog .popup.popup-discount {
    max-width: initial;
    width: 100% !important;
    height: 880px !important;
    top: initial;
    background: white;
}
.pos.mobile .modal-dialog .popup.popup-discount .popup-numpad {
    width: 508px !important;
}
.pos.mobile .modal-dialog .popup.popup-discount .discount-program-content {
    height: 759px !important;
    border-left: solid 2px #c7c7c7;
}
.pos.mobile .modal-dialog .popup.popup-discount .title {
    margin: 0;
    padding-left: 0;
    padding-right: 27px;
    width: 50% !important;
    background-color: #f0eeee;
    margin-bottom: 25px;
}
.pos.mobile .modal-dialog .popup.popup-discount .discount-program-content .title {
    margin: 0;
    padding-right: 0px;
    width: initial !important;
}
.pos.mobile .modal-dialog .popup.popup-discount .popup-input {
    width: 480px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pos.mobile .modal-dialog .popup.popup-discount .footer {
    border-top: solid 2px #c7c7c7;
}
.pos.mobile .modal-dialog .popup.popup-discount .input-button,
.pos.mobile .modal-dialog .popup.popup-discount .mode-button {
    box-shadow: 0px 9px 20px -11px black;
    background: #ededed;
    border: 2px solid #e8e8e8;
}
.pos.mobile .modal-dialog .popup.popup-discount .input-button img {
    height: 42px !important;
    width: 48px !important;
    margin-top: 10px;
}
.pos.mobile .modal-dialog .popup.popup-discount .discount-program-list .button {
    font-size: 36px !important;
    width: 421px !important;
    margin-right: 0px !important;
    padding-bottom: 23px;
    padding-top: 23px;
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pos.mobile .modal-dialog .popup.popup-discount .footer .button {
    font-size: 40px;
}
.pos.mobile .modal-dialog .popup.popup-discount button:active,
.pos.mobile .modal-dialog .popup.popup-discount .button:active {
    background: #555555;
    color: white;
}
/*Mobile ScreenWidget*/
.pos.mobile .discountlist-screen .discount-list {
    font-size: 35px;
    line-height: 60px;
}
.pos.mobile .discountlist-screen .discount-list th,
.pos.mobile .discountlist-screen .discount-list td {
    padding: 8px !important;
}
.pos.mobile .discountlist-screen .top-content .button.next {
    font-size: 35px !important;
}
