.invoice-so-buttons {
    padding: 0;
    margin: 16px;
    margin-top: 8px;
    margin-right: 0;
    text-align: center;
    vertical-align: top;
}

.inv-so {
    display: inline-block;
    cursor: pointer;
    padding: 4px 10px;
    font-weight: bold;
    border: 1px solid #cacaca;
    background: #e2e2e2;
    border-radius: 3px;
    float: left;
    height: 54px;
}

.inv-so.fetch-orders {
    width: 188px;
    font-size: 14px;
    color: #555555;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.inv-so.fetch-invoices {
    width: 216px;
    font-size: 14px;
    color: #555555;
    border-left: 0px;
}

.inv-so:hover {
    background: #efefef;
}

.line-element-hidden {
    display: none;
}

.lines-table {
    width: 100%;
    border: solid 1px rgb(215, 215, 215);
    margin-top: 10px;
    margin-bottom: 10px;
}
tr.invoice {
    border-bottom: 1px dashed rgb(215, 215, 215);
}
tr.sale-order {
    border-bottom: 1px dashed rgb(215, 215, 215);
}

.pos .list tr.sale-order-line {
    background-color: rgb(247, 247, 247);
    border: solid 1px rgb(215, 215, 215);
}

.pos .list tr.sale-order-line.invoiceble {
    background-color: rgba(110, 200, 155, 0.5);
    border: solid 1px rgb(215, 215, 215);
}

/* SaleOrdersWidget */
.pos .list-screen .window,
.pos .list-screen .full-content .subwindow {
    display: block;
}
.pos .list-screen .full-content .subwindow-container {
    display: block;
    height: 100%;
}
.pos .list-screen .full-content .subwindow.collapsed,
.pos .list-screen .full-content .subwindow-container.collapsed {
    height: auto;
}

.pos .list-screen .list {
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}
.pos .list-screen .list th,
.pos .list-screen .list td {
    padding: 0px 8px;
}
.pos .list-screen .list tr {
    transition: all 150ms linear;
    background: rgb(230, 230, 230);
}
.pos .list-screen .list thead > tr,
.pos .list-screen .list tr:nth-child(even) {
    background: rgb(247, 247, 247);
}
.pos .list-screen .list tr.highlight {
    transition: all 150ms linear;
    background: rgb(110, 200, 155) !important;
    color: white;
}
.pos .list-screen .list tr.lowlight {
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.pos .list-screen .list tr.lowlight:nth-child(even) {
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}
.pos .list-screen .client-picture {
    height: 64px;
    width: 64px;
    border-radius: 32px;
    overflow: hidden;
    text-align: center;
    float: left;
    margin-right: 16px;
    background: white;
    position: relative;
}
.pos .list-screen .client-picture > img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    right: -9999px;
    left: -9999px;
    max-height: 64px;
    margin: auto;
}
.pos .list-screen .client-picture > .fa {
    line-height: 64px;
    font-size: 32px;
}
.pos .list-screen .client-picture .image-uploader {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
.pos .list-screen .client-name {
    font-size: 32px;
    line-height: 64px;
    margin-bottom: 16px;
}
.pos .list-screen .edit-buttons {
    position: absolute;
    right: 16px;
    top: 10px;
}
.pos .list-screen .edit-buttons .button {
    display: inline-block;
    margin-left: 16px;
    color: rgb(128, 128, 128);
    cursor: pointer;
    font-size: 36px;
}
.pos .list-screen .client-detail {
    line-height: 24px;
}
.pos .list-screen .client-detail > .label {
    font-weight: bold;
    display: inline-block;
    width: 75px;
    text-align: right;
    margin-right: 8px;
}
.pos .list-screen .client-detail > .empty {
    opacity: 0.3;
}
.pos .list-screen .searchbox {
    right: auto;
    margin-left: -90px;
    margin-top: 8px;
    left: 50%;
}
.pos .list-screen .searchbox input {
    width: 120px;
}
.pos .list-screen .button.new-customer {
    left: 50%;
    margin-left: 120px;
}

/* InvoicePaymentScreenWidget */
.invoice-payment-screen .payment-buttons .button {
    background: #e2e2e2;
    line-height: 73px;
    font-size: 16px;
    padding: 0px 8px;
    border: solid 1px rgb(200, 200, 200);
    border-top-width: 0;
    cursor: pointer;
    text-align: center;
    position: relative;
    transition: background-color, border-color, color 150ms linear;
}
.invoice-payment-screen .payment-buttons .button:hover {
    background-color: #efefef;
}
.invoice-payment-screen .payment-buttons .button:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-width: 1px;
}
.invoice-payment-screen .payment-buttons .button:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.invoice-payment-screen .payment-buttons .button.highlight:not(:first-child) {
    margin-top: -1px;
    border-top: solid 1px;
}
.invoice-payment-screen .payment-buttons .button:active {
    background: black;
    border-color: black;
    color: white;
}
.invoice-payment-screen .payment-buttons .button.highlight .fa {
    border-color: rgba(0, 0, 0, 0.109804);
    background: rgba(0, 0, 0, 0.0980392);
}
.invoice-payment-screen .payment-buttons .button .fa {
    position: absolute;
    left: 11px;
    top: 50%;
    width: 48px;
    height: 48px;
    line-height: 48px;
    margin-top: -25px;
    vertical-align: middle;
    border-radius: 26px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    transition: all 150ms linear;
}
.invoice-payment-screen .paymentlines-empty .total {
    text-align: center;
    padding: 24px 0px 18px;
    font-size: 64px;
    color: #43996e;
    text-shadow: 0px 2px white, 0px 2px 2px rgba(0, 0, 0, 0.27);
}
.invoice-payment-screen .paymentlines-empty .message {
    text-align: center;
}
/* InvoiceReceiptScreenWidget */
.pos .invoice-receipt-screen .centered-content .button {
    line-height: 40px;
    padding: 3px 13px;
    font-size: 20px;
    text-align: center;
    background: rgb(230, 230, 230);
    margin: 16px;
    margin-bottom: 0px;
    border-radius: 3px;
    border: solid 1px rgb(209, 209, 209);
    cursor: pointer;
}

.pos .pos-receipt-container {
    font-size: 0.75em;
    text-align: center;
}

.pos .pos-sale-ticket {
    text-align: left;
    width: 300px;
    background-color: white;
    margin: 20px;
    padding: 15px;
    font-size: 14px;
    padding-bottom: 30px;
    display: inline-block;
    font-family: "Inconsolata";
    border: solid 1px rgb(220, 220, 220);
    border-radius: 3px;
    overflow: hidden;
}
.pos .pos-sale-ticket pre {
    font-family: "Inconsolata";
}
.pos .pos-sale-ticket .emph {
    font-size: 20px;
    margin: 5px;
}
.pos .pos-sale-ticket table {
    width: 100%;
    border: 0;
    table-layout: fixed;
}
.pos .pos-sale-ticket table td {
    border: 0;
    word-wrap: break-word;
}

@page {
    margin: 0;
}

@media print {
    * {
        color: black !important;
    }
    body {
        margin: 0;
        color: white !important;
    }
    .oe_leftbar,
    .oe_loading,
    .pos .pos-topheader,
    .pos .pos-leftpane,
    .pos .keyboard_frame,
    .pos .invoice-receipt-screen header,
    .pos .invoice-receipt-screen .top-content,
    .pos .invoice-receipt-screen .centered-content .button {
        display: none !important;
    }
    .pos,
    .pos .pos-content,
    .pos .rightpane,
    .pos .screen,
    .pos .window,
    .pos .window .subwindow,
    .pos .subwindow .subwindow-container {
        display: block;
        position: static;
        height: auto;
    }
    .pos {
        background: white !important;
    }
    .pos .rightpane {
        left: 0px !important;
        background-color: white;
    }
    .pos .invoice-receipt-screen {
        text-align: left;
    }
    .pos .invoice-receipt-screen .centered-content {
        position: static;
        border: none;
    }
}

/*!* Mobile Styles *!*/
.pos.mobile table.list {
    font-size: 30px;
    line-height: 50px;
}
.pos.mobile .list-screen .top-content {
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch !important;
}
pos.mobile .list-screen .top-content .button {
    margin: 0px;
    position: relative;
    display: inline-block;
}
.pos.mobile .list-screen .listth,
.pos.mobile .list-screen .listtd {
    padding: 0px 16px;
}
.pos.mobile .list-screen .searchbox {
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    display: inline-block;
    right: 0px;
    float: initial;
    left: 0;
}
.pos.mobile .list-screen .searchbox input {
    width: 275px;
    margin: 20px;
    padding: 5px 20px;
    font-size: 35px !important;
}
.pos.mobile .list-screen .button.new-customer {
    margin-left: 0px;
    left: 0;
}
.pos.mobile .list-screen .button.next {
    margin-left: 0px;
}
.pos.mobile .list-screen .subwindow:nth-child(2) .subwindow-container-fix {
    border-bottom: 8px solid rgb(110, 200, 155) !important;
    overflow: hidden !important;
}
.ios .pos.mobile .list-screen .subwindow:nth-child(2) .subwindow-container-fix {
    overflow: hidden !important;
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch !important;
}
.pos.mobile .list-screen .button {
    display: inline-block;
    position: relative;
}
.pos.mobile .list-screen .top-content .button.back {
    margin-left: 0;
    margin-right: 0;
}
.pos.mobile .line-element > td {
    padding: 0;
}
.pos.mobile .invoice-payment-screen .right-content {
    left: 0 !important;
}
.pos.mobile .list-screen .subwindow-container-fix.touch-scrollable.scrollable-y {
    overflow: hidden !important;
}
